KUBE_APISERVER_OPTS=" \
--v=2 \
--etcd-servers=https://192.168.2.199:2379 \
--bind-address={{ansible_default_ipv4.address}} \
--secure-port=6443 \
--advertise-address={{ansible_default_ipv4.address}} \
--allow-privileged=true \
--service-cluster-ip-range=10.0.0.0/24 \
--authorization-mode=RBAC,Node \
--enable-bootstrap-token-auth=true \
--token-auth-file=/opt/k8s/kubernetes/cfg/token.csv  \
--service-node-port-range=30000-32767 \
--kubelet-client-certificate=/opt/k8s/kubernetes/ssl/k8s.pem \
--kubelet-client-key=/opt/k8s/kubernetes/ssl/k8s-key.pem \
--tls-cert-file=/opt/k8s/kubernetes/ssl/k8s.pem \
--tls-private-key-file=/opt/k8s/kubernetes/ssl/k8s-key.pem \
--client-ca-file=/opt/k8s/kubernetes/ssl/ca.pem  \
--service-account-key-file=/opt/k8s/kubernetes/ssl/ca-key.pem \
--service-account-issuer=api \
--service-account-signing-key-file=/opt/k8s/kubernetes/ssl/ca-key.pem \
--etcd-cafile=/opt/k8s/etcd/ssl/ca.pem  \
--etcd-certfile=/opt/k8s/etcd/ssl/etcd.pem \
--etcd-keyfile=/opt/k8s/etcd/ssl/etcd-key.pem \
--requestheader-client-ca-file=/opt/k8s/kubernetes/ssl/ca.pem \
--proxy-client-cert-file=/opt/k8s/kubernetes/ssl/k8s.pem \
--proxy-client-key-file=/opt/k8s/kubernetes/ssl/k8s-key.pem \
--requestheader-allowed-names=kubernetes \
--requestheader-extra-headers-prefix=X-Remote-Extra- \
--requestheader-group-headers=X-Remote-Group \
--requestheader-username-headers=X-Remote-User \
--enable-aggregator-routing=true \
--audit-log-maxage=30 \
--audit-log-maxbackup=3 \
--audit-log-maxsize=100 \
--service-account-issuer=https://kubernetes.default.svc.cluster.local \
--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname  \
--audit-log-path=/opt/k8s/kubernetes/logs/k8s-audit.log"
